<div>
  <div class="dropdown">
    <button class="dropbtn">Filter</button>
    <div class="dropdown-content">
      <a href="#">Title</a>
      <a href="#">Description</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Sort</button>
    <div class="dropdown-content">
      <a href="#">Posting Date</a>
      <a href="#">Price</a>
    </div>
  </div>
  <form name="$ctrl.postForm" ng-submit="$ctrl.postSubmission()">
    <label>Title:</label>
    <input id="title" name="title" ng-model="$ctrl.post.title" type="text" placeholder="Enter a title here" required>
    <label>Description:</label>
    <input id="description" name="description"  type="text" ng-model="$ctrl.post.description" placeholder="Enter a description here" required>
    <label>Price:</label>
    <input id="price" name="price" type="text" ng-model="$ctrl.post.price" placeholder="Enter a price here" required>
    <label>Item Image:</label>
    <input id="itemImage" name="itemImage" type="text" ng-model="$ctrl.post.item_image" placeholder="Enter an item image here" required>
    <button type="submit">Post</button>
  </form>
  <div ng-repeat="post in $ctrl.posts">
    <h4>Title: </h4><p>{{post.title}}</p>
    <h4>Description: </h4><p>{{post.description}}</p>
    <h4>Price: </h4><p>${{post.price}}</p>
    <h4>Item Image: </h4><img ng-src='{{post.item_image}}' alt="Post Image"/>
    <button ui-sref="editForm({id:post.id})">Edit</button>
    <button type="submit" >Delete</button>
  </div>
</div>
