<div>
  <input id="search" name="search" placeholder="search">
    <button>Search</button>
  <div class="dropdown">
    <button class="dropbtn">Sort</button>
    <div class="dropdown-content">
      <a href="#">Posting Date</a>
      <a href="#">Price</a>
    </div>
  </div>
    <button ui-sref="postForm">New Post</button>
  <div ng-repeat="post in $ctrl.posts">
    <h4>Title: </h4><p>{{post.title}}</p>
    <h4>Description: </h4><p>{{post.description}}</p>
    <h4>Price: </h4><p>${{post.price}}</p>
    <h4>Item Image: </h4><img ng-src='{{post.item_image}}' alt="Post Image"/>
    <h4>Created At: </h4><p>{{post.created_at}}</p>
    <button ui-sref="editForm({id:post.id})">Edit</button>
    <button ng-click="$ctrl.postDelete(post.id)" >Delete</button>
  </div>
</div>
